body {
    margin: 0;
    padding: 0;
    background: #FF5154;
}


.title-container{
display: flex;
justify-content: center;
color: beige;
margin-top: 1rem;
font-family: 'Noto Sans JP', sans-serif;
}

.grid {
display: grid;
gap: 1px; 
width: 600px;
margin: auto;
padding-top: 2rem;
border-color: #3B429F;
border-width: 1px;
}

.grid > div {

    background: beige;
    padding: 0.1rem;
}

.grid > div::before {
    content: "";
    padding-top: 100%;
    display: block;
}


.button-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.clear {
    background-color: beige;
    border: none;
    color: black;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}